
      
     
      Text{

        font-family: "Impact", sans-serif;
      font-size: 36px;
      }
            
            
            path:hover {
        stroke-width: 1px;
        transition: fill 0.4s;
        filter: invert(0.3) sepia(5) hue-rotate(200deg) saturate(4)
    brightness(1); 
    

      }


      #NM {
        fill: lab(93.63% -2.57 2.91);
      }

      #CA {
        fill: lab(93.63% -2.57 2.91);
      }

      #SC {
        fill: lab(93.63% -2.57 2.91);
      }

      #NC {
        fill: lab(93.63% -2.57 2.91);
      }

      #OK {
        fill: lab(93.63% -2.57 2.91);
      }
      #WA {
        fill: lab(93.63% -2.57 2.91);
      }

      #UT {
        fill: lab(93.63% -2.57 2.91);
      }

      #VA {
         fill: lab(93.63% -2.57 2.91);
      }

      #HI {
         fill: lab(93.63% -2.57 2.91);
      }

      #AK {
         fill: lab(93.63% -2.57 2.91);
      }

      #GA {
        fill: lab(93.63% -2.57 2.91);
      }

      #TN {
       fill: lab(93.63% -2.57 2.91);
      }

      #LA {
         fill: lab(93.63% -2.57 2.91);
      }

      #AR {
        fill: lab(93.63% -2.57 2.91);
      }

      #CO {
         fill: lab(93.63% -2.57 2.91);
      }

      #AZ {
        fill: lab(93.63% -2.57 2.91);
        
     
      }

      #ID {
         fill: lab(93.63% -2.57 2.91);
      }

      #ND {
        fill: lab(93.63% -2.57 2.91);
      }

      #SD {
         fill: lab(93.63% -2.57 2.91);
      }

      #MT {
         fill: lab(93.63% -2.57 2.91);
      }

      #NV {
         fill: lab(93.63% -2.57 2.91);
      }

      #WY {
         fill: lab(93.63% -2.57 2.91);
      }

      #IA {
         fill: lab(93.63% -2.57 2.91);
      }

      #KS {
         fill: lab(93.63% -2.57 2.91);
      }

      #NE {
         fill: lab(93.63% -2.57 2.91);
      }

      #CT {
         fill: lab(93.63% -2.57 2.91);
      }

      #NH {
         fill: lab(93.63% -2.57 2.91);
      }

      #RI {
         fill: lab(93.63% -2.57 2.91);
      }

      #VT {
         fill: lab(93.63% -2.57 2.91);
      }

      #AL {
         fill: lab(93.63% -2.57 2.91);
      }

      #MS {
         fill: lab(93.63% -2.57 2.91);
      }

      #IL {
         fill: lab(93.63% -2.57 2.91);
      }

      #KY {
         fill: lab(93.63% -2.57 2.91);
      }

      #OH {
        fill: lab(93.63% -2.57 2.91);
      }

      #WI {
         fill: lab(93.63% -2.57 2.91);
      }

      #DE {
         fill: lab(93.63% -2.57 2.91);
      }

      #MI {
         fill: lab(93.63% -2.57 2.91);
      }

      #WV {
         fill: lab(93.63% -2.57 2.91);
      }

      #NY {
         fill: lab(93.63% -2.57 2.91);
      }

      #DC {
         fill: lab(93.63% -2.57 2.91);
      }

      #MD {
         fill: lab(93.63% -2.57 2.91);
      }

      #NJ {
         fill: lab(93.63% -2.57 2.91);
      }

      #MA {
         fill: lab(93.63% -2.57 2.91);
      }

      #TX {
         fill: lab(93.63% -2.57 2.91);
      }

      #MT {
         fill: lab(93.63% -2.57 2.91);
      }

      #FL {
         fill: lab(93.63% -2.57 2.91);
      }

      #IN {
        fill: lab(93.63% -2.57 2.91);
      }

      #PA {
         fill: lab(93.63% -2.57 2.91);
      }
      
      #OR {
         fill: lab(93.63% -2.57 2.91);
      }

       #MO {
         fill: lab(93.63% -2.57 2.91);
      }

       #MN {
         fill: lab(93.63% -2.57 2.91);
      }
    
       #ME {
         fill: lab(93.63% -2.57 2.91);
      }