
   

            path:hover {
    
   filter: invert(.0) saturate(.1) brightness(100%);  
      }


      #NM {
        fill: lab(93.63% -2.57 2.91);
      
      }

      #CA {
        fill: oklab(46.938% -0.02658 -0.27257);
      }

      #SC {
        fill: lab(93.63% -2.57 2.91);
      }

      #NC {
        fill: lab(93.63% -2.57 2.91);
      }

      #OK {
        fill: lab(93.63% -2.57 2.91);
      }
      #WA {
        fill: oklab(46.938% -0.02658 -0.27257);
      }

      #UT {
        fill: lab(93.63% -2.57 2.91);
      }

      #VA {
         fill:  oklab(61.150000000000006% 0.21673 0.11978);
      }

      #HI {
         fill: lab(93.63% -2.57 2.91);
      }

      #AK {
         fill: lab(93.63% -2.57 2.91);
      }

      #GA {
        fill: lab(93.63% -2.57 2.91);
      }

      #TN {
       fill: lab(93.63% -2.57 2.91);
      }

      #LA {
         fill: lab(93.63% -2.57 2.91);
      }

      #AR {
        fill: lab(93.63% -2.57 2.91);
      }

      #CO {
         fill: lab(93.63% -2.57 2.91);
      }

      #AZ {
        fill: lab(93.63% -2.57 2.91);
        
     
      }

      #ID {
         fill: lab(93.63% -2.57 2.91);
      }

      #ND {
        fill: lab(93.63% -2.57 2.91);
      }

      #SD {
         fill: oklab(61.150000000000006% 0.21673 0.11978);
      }

      #MT {
         fill: lab(93.63% -2.57 2.91);
      }

      #NV {
         fill: lab(93.63% -2.57 2.91);
      }

      #WY {
         fill: lab(93.63% -2.57 2.91);
      }

      #IA {
         fill: lab(93.63% -2.57 2.91);
      }

      #KS {
         fill: oklab(61.150000000000006% 0.21673 0.11978);
      }

      #NE {
         fill: lab(93.63% -2.57 2.91);
      }

      #CT {
         fill: lab(93.63% -2.57 2.91);
      }

      #NH {
         fill:lab(93.63% -2.57 2.91);
      }

      #RI {
         fill: lab(93.63% -2.57 2.91);
      }

      #VT {
         fill: lab(93.63% -2.57 2.91);
      }

      #AL {
         fill: lab(93.63% -2.57 2.91);
      }

      #MS {
         fill: lab(93.63% -2.57 2.91);
      }

      #IL {
         fill: lab(93.63% -2.57 2.91);
      }

      #KY {
         fill: lab(93.63% -2.57 2.91);
      }

      #OH {
        fill: lab(93.63% -2.57 2.91);
      }

      #WI {
         fill: lab(93.63% -2.57 2.91);
      }

      #DE {
         fill: lab(93.63% -2.57 2.91);
      }

      #MI {
         fill: lab(93.63% -2.57 2.91);
      }

      #WV {
         fill: lab(93.63% -2.57 2.91);
      }

      #NY {
         fill: oklab(46.938% -0.02658 -0.27257);
      }

      #DC {
         fill: lab(93.63% -2.57 2.91);
      }

      #MD {
         fill: lab(93.63% -2.57 2.91);
      }

      #NJ {
         fill: lab(93.63% -2.57 2.91);
      }

      #MA {
         fill: lab(93.63% -2.57 2.91);
      }

      #TX {
         fill: oklab(61.150000000000006% 0.21673 0.11978);
      }

      #MT {
         fill: lab(93.63% -2.57 2.91);
      }

      #FL {
         fill: oklab(61.150000000000006% 0.21673 0.11978);
      }

      #IN {
        fill: oklab(61.150000000000006% 0.21673 0.11978);
      }

      #PA {
         fill: lab(93.63% -2.57 2.91);
      }
      
      #OR {
         fill: lab(93.63% -2.57 2.91);
      }

       #MO {
         fill: lab(93.63% -2.57 2.91);
      }

       #MN {
         fill: lab(93.63% -2.57 2.91);
      }
    
       #ME {
         fill: oklab(46.938% -0.02658 -0.27257);
      }